.custom-header {
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.custom-ul li a {
    color: #fff;
}

.custom-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
}

.custom-bar {
    margin: 0;
    padding: 0;
    flex-direction: row;
    -ms-flex-direction: column;
    display: -ms-flexbox;
    padding-top: 15px;
    width: 100%;
    justify-content: space-between;
    display: flex!important;
}

.custom-nav-mobile {
    display: block !important;
}

#navbar-mobile-open .navbar-toggler-icon {
    background-image: url(../img/menu.png) !important;
}

#navbar-mobile-close .navbar-toggler-icon {
    background-image: url(../img/close.png) !important;
}

.custom-menu-icon {
    display: none !important;
}

.custom-bar-left {
    justify-content: flex-end !important;
}

.custom-bar-right {
    justify-content: end !important;
    background: red;
    background-image: url(../img/header-bg.png) !important;
    height: 100vh;
    /* padding-top: 10px; */
    display: -webkit-inline-box;
    padding-bottom: 525px !important;
}

.custom-bar a {
    font-weight: 600;
    /* padding: .75em 0; */
    letter-spacing: 1px;
    text-decoration-line: none;
    color: #fff;
    padding: 1.0em 0px;
    font-size: 14px;
}

.footer-menu li a {
    font-weight: 600;
    /* padding: .75em 0; */
    /* letter-spacing: 1px; */
    text-decoration-line: none;
    color: #fff;
    padding: 1.0em 0px;
    font-size: 13px;
}

.custom-bar li {
    list-style-type: none;
}

.bar-scroll {
    background: #0000008a;
    padding-top: 8px !important;
    padding-bottom: 8px;
}

.bar a:hover {
    color: #ffe900;
}

section {
    /* height: 100vh; */
    padding: 100px 0;
}

.section1 {
    height: 200vh;
}

#section2 {
    background: url(../img/kiloren.png) no-repeat top center #efeff1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    #section2 {
        background: url(../img/kiloren.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* min-height: 500px; */
        background-size: auto;
        height: 100vh;
        height: 50vh;
        background-size: auto 50vh;
    }
}

#section4 {
    padding: 0px;
    background: url(../img/stormtroopers-2x.jpg) no-repeat top center #efeff1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#section4 img {
    width: 100%;
}

#custom-footer {
    background: url(../img/darthvader_2x.jpg) no-repeat top center #181818;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* padding: 100px 0; */
}

.logo {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 0, 0) */
    /* 
    width: 100%; */
    /* background: url(../img/darthvader_2x.jpg) no-repeat top center #181818; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-top: 300px;
}

.annance {
    margin-left: auto;
    /* margin-right: auto; */
    display: block;
    position: sticky;
    position: -webkit-sticky;
    /* width: 100px;
    height: 100px; */
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.box-img-txt {
    width: 400px;
    height: 250px;
    color: #111;
    text-align: center;
    font-size: 90px;
    float: left;
}

.box-img-txt span {
    padding-top: 70px;
    display: inline-block;
}

.custom-text {
    line-height: 27px;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    text-align: justify;
}

.title-center {
    justify-content: center;
    text-align: center;
}

.custom-h3 {
    text-align: center;
    color: #9B9B9B !important;
}

.footer-menu {
    margin: 0;
    padding: 0;
}

.footer-menu li a {
    color: #9B9B9B !important;
    font-weight: 100 !important;
}

.footer-menu li {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-media {
    justify-content: center;
    text-align: center;
    color: #9B9B9B;
}

.btn-media {
    display: flex;
    justify-content: center;
}

.btn-media a {
    padding: 15px;
}

span.facebook {
    background: url(../img/icon_facebook.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 52px;
    width: 40px;
}

span.twetter {
    background: url(../img/icon_twitter.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 52px;
    width: 40px;
}

span.instagram {
    background: url(../img/icon_instagram.png) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 52px;
    width: 40px;
}

a,
p {
    font-size: 13px;
}